@import "https://coral-ui.netlify.app/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  /* padding: 1rem; */
  color: #282c3f;
}

.app-header {
  text-align: center;
}

.app-body {
  margin-top: 5rem;
  /* margin-bottom: 3rem; */
}

/* ----------------------------------------------------------- */

.button {
  margin: 0;
}

/* ---------------------------------------------------------- */

.card {
  height: auto;
  width: 12rem;
  position: relative;
  box-shadow: none;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
}

.cards-section {
  justify-content: space-around;
}

.card-img-rating {
  position: relative;
}

.bottom-left {
  position: absolute;
  bottom: 14px;
  left: 10px;
  font-size: 0.75rem;
  background-color: rgba(238, 238, 238, 0.705);
}

.card-img {
  height: 100%;
}

.card-brand {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-name {
  font-size: 0.9rem;
  font-weight: lighter;
  color: #5f5f5f;
}

.card-price,
.product-detail-price {
  font-weight: 600;
}

.card-old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 0.75rem;
  font-weight: 100;
}

.card-discount {
  color: #398e3d;
  font-size: 0.75rem;
}

.card-info {
  flex-direction: column;
}

.button-primary,
.button-primary:hover {
  border: 0px solid transparent;
}

.card-button {
  box-shadow: none;
  padding: 0.2rem;
}

.cart-update-quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.cart-quantity {
  font-size: 1.2rem;
}

.button-incdec {
  margin: 0;
  padding: 0.2rem 1rem;
}

.card-badge-small {
  margin: 0;
  padding: 1rem;
  position: absolute;

  top: 0;
  right: 0;
  left: auto;
  color: white;

  clip-path: none;
  background-color: transparent;
  border: none;
}

.cart-list {
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  margin-top: 1rem;
}

.flex-start {
  justify-content: flex-start;
}

.cart-page {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.cart-details {
  border-left: 5px dotted gray;
  padding: 1rem;
  margin: 1rem;
}

.checked {
  color: #219b95;
}

/* ------------------header------------------ */

.nav-header {
  position: fixed;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  align-items: center;
  box-shadow: 0 4px 12px 5px rgb(0 0 0 / 5%);
}

.nav-top {
  background-color: white;
}

.nav-link {
  color: var(--primary-coral);
}

.nav-link:hover,
.nav-link:active {
  background-color: var(--primary-coral);
  color: white;
  opacity: 1;
}

img {
  width: 100%;
  object-fit: contain;
  height: 80%;
}

.pd {
  flex: 1;
}

.product-detail-flex {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: stretch;
}

.product-detail-img {
  /* flex-grow: 1; */
}

.product-detail-info {
  /* flex-grow: 1; */
}

.product-detail-name {
  font-weight: lighter;
  color: gray;
  margin-bottom: 1.5rem;
}

.product-detail-old-price {
  text-decoration: line-through;
  color: gray;
  /* font-size: 0.75rem; */
  font-weight: 100;
}

.product-detail-discount {
  color: #398e3d;
  font-weight: 600;
  /* font-size: 0.75rem; */
}

.product-description {
  margin-top: 1rem;
}

@media only screen and (max-width: 900px) {
  .nav-top {
    margin: 0;
    width: 100%;
  }
}
