@import "https://coral-ui.netlify.app/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  /* padding: 1rem; */
  color: #282c3f;
}

.app-header {
  text-align: center;
}

/* ----------------------------------------------------------- */

.button{
  margin: 0;
}


/* ---------------------------------------------------------- */

.card {
  height: auto;
  width: 12rem;
  position: relative;
}

.cards-section {
  justify-content: space-around;
}

.card-img {
  height: 80%;
}

.card-info {
  flex-direction: column;
}

.button-primary,
.button-primary:hover {
  border: 0px solid transparent;
}

.card-button {
  box-shadow: none;
  padding: 0.2rem;
}

.cart-update-quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.cart-quantity {
  font-size: 1.2rem;
}

.button-incdec {
  margin: 0;
  padding: 0.2rem 1rem;
}

.card-badge-small {
  margin: 0;
  padding: 1rem;
  position: absolute;

  top: 0;
  right: 0;
  left: auto;
  color: white;

  clip-path: none;
  background-color: transparent;
  border: none;
}

.cart-list {
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  margin-top: 1rem;
}

.flex-start {
  justify-content: flex-start;
}

.cart-page {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.cart-details {
  border-left: 5px dotted gray;
  padding: 1rem;
  margin: 1rem;
}

/* ------------------header------------------ */


