@import "https://coral-ui.netlify.app/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #282c3f;
}

.App {
  font-family: sans-serif;
  padding: 1rem;
}

.app-header {
  text-align: center;
}

.card {
  height: auto;
  width: 12rem;
}

.card-img {
  height: 80%;
}

.card-info {
  flex-direction: column;
}

.button-primary,
.button-primary:hover {
  border: 0px solid transparent;
}

.card-add-to-cart {
  box-shadow: none;
  padding: 0.2rem;
}

.cart-update-quantity{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.cart-quantity {
  font-size: 1.2rem;
}

.button-incdec{
  margin: 0;
  padding: 0.2rem 1rem;
}